header{
    background-color: rgb(63, 47, 78);
    text-align: center;
    padding: 2vh;    
    text-shadow: 2px 2px 2px purple;
}

header a{
    text-decoration: none;
    color: #000;
}

header a:hover{
    color: pink;
}